// Place all the styles related to the public/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.album-container {
  width: 200px;
  height: 200px;
}
.album-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-text {
  font-size: 20px;
  font-weight: bold;
}