// Place all the styles related to the public/searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.link {
  text-decoration: underline;
  color: #555555 ;
  margin: 3px;
}

.title-link {
	color: #fff ;
}