// Place all the styles related to the public/waiting_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.congratulations {
  width: 500px;
  height: 500px;
  background-image: image-url("congratulations.jpg");
  background-size: cover;
}