// Place all the styles related to the public/waiting_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.congraturations {
  width: 100%;
  height: 600px;
  background-image: image-url("congraturations.jpg");
  background-size: cover;
}