<!--象徴的な写真を５枚表示→生まれた・離乳食作った・オムツをストッカーに入れた・保育園の準備をした・歩いた-->
<!--%= image_tag("画像ファイル名.拡張子")%>-->

<p>毎日頑張るわたしに、ぐんぐん成長するわが子に、アワードを！</p>

<h2>CONCEPT</h2>
<p>コンセプト</p>
<p>たくさんのやらなきゃいけないことがある育児
目まぐるしく成長する我が子
孤立しがちな現代での子育て

誰もほめてくれない？？
待つのではなく、自分で自分をほめてあげる！同じ境遇の人たちとお互いにほめあう！

日々の頑張りをアワードとして記録
みんなが遭遇する出来事を大賞としてくくりノミネート（安心してください、みなさん大賞を受賞します！）
お互いに拍手と賞賛の声を送りあう！

日々を頑張るわたしたちの心を元気にしてくれるサードプレイスになれますように。</p>

<h2>HOW TO USE</h2>
<p>このサイトの使い方</p>

<h3>アワードの受賞</h3>
<p>
  ①頑張った出来事の写真を選択し、コメント（アワード受賞者インタビューのつもりで！）を記入（写真だけ、コメントだけでも受賞は可能です！）
　ex.)　離乳食を作って小分けパックで冷凍した！

  ②ノミネートボタンをクリック

  ③アワードを受賞しました、おめでとうございます！
</p>
受賞は<%= link_to "こちら", new_award_path %>から

<h3>大賞にノミネート</h3>
ノミネートは
<!--%= link_to "こちら", new_waiting_event_path %>-->
から

<h3>アワードへ拍手を送る</h3>
<h3>大賞への賞賛の声を送る</h3>