<div class="mb-10">
  <h2>CONCEPT</h2>
  <p>コンセプト</p>
  <p>たくさんのやらなきゃいけないことがある育児
  目まぐるしく成長する我が子
  孤立しがちな現代での子育て

  誰もほめてくれない？？
  待つのではなく、自分で自分をほめてあげる！同じ境遇の人たちとお互いにほめあう！

  日々の頑張りをアワードとして記録
  みんなが遭遇する出来事を大賞としてくくりノミネート（安心してください、みなさん大賞を受賞します！）
  お互いに拍手と賞賛の声を送りあう！

  日々を頑張るわたしたちの心を元気にしてくれるサードプレイスになれますように。</p>
</div>


<div id="how_to_use">
  <h2>HOW TO USE</h2>
  <p>このサイトの使い方</p>

  <div class="mb-50">
    <h3>アワードの受賞</h3>
    <p>
      (1)
      頑張った出来事の写真を選択し、コメント（晴れやかにインタビューに答えるつもりでお願いします！）を記入（写真だけでも受賞は可能です！）
    　ex.)　離乳食を作って小分けパックで冷凍した！<br>

      (2)ノミネートボタンをクリック<br>

      (3)アワードを受賞しました、おめでとうございます！<br>
      マイページから、受賞結果をまとめてご確認いただけます。<br>
    </p>

    受賞は<%= link_to "こちら", new_award_path %>から！
  </div>

  <div class="mb-50">
    <h3>大賞にノミネート</h3>
    <p>
      (1)大賞一覧からノミネートしたい大賞を選択<br>

      (2)写真とコメント（晴れやかにインタビューに答えるつもりでお願いします！）を記入し、ノミネート！<br>

      (3)大賞が授与されるまで、少々お待ちください、、、<br>
      大賞の授与は通知でお知らせされます！<br>
      ※授与まで少々お時間がかかる場合がございます、ご了承ください。<br>
    </p>

    ノミネートには、まず
    <%= link_to "こちら", grand_prizes_path %>
    からノミネートする大賞を選択してください！
  </div>

  <div class="mb-50">
    <h3>アワードへ拍手を送る</h3>
    <p>頑張りは称えあうことができます！

    (1)一覧から、素敵だなと思うアワードを選ぶ<br>

    (2)アワード写真下部の拍手マークをクリック<br>

    マイページから、自身が拍手を贈ったアワードを一覧で確認することができます</p>
  </div>

  <div class="mb-50">
    <h3>大賞への賞賛の声を送る</h3>
    <p>大賞へは賞賛の声（コメント）を贈ることができます！
    (1)大賞一覧から賞賛の声を送りたい大賞を選択<br>
    (2)賞賛の声を入力し、「紙飛行機」をクリック<br>
    (3)賞賛の声に追加されます<br>
    ※賞賛の声は直近10件が表示されます。ご自身の声が表示されている場合は、取り消しが可能です。
    </p>
  </div>

  <div class="mb-50">
    <h3>振り返りアルバム</h3>
    <p>マイページから、「デイリー」と「はじめての」の一覧を確認することができます<br>
    ご自身の頑張りや我が子の成長の振り返りにご活用ください</p>
  </div>

</div>