<h2>CONCEPT</h2>
<p>コンセプト</p>
<p>たくさんのやらなきゃいけないことがある育児
目まぐるしく成長する我が子
孤立しがちな現代での子育て

誰もほめてくれない？？
待つのではなく、自分で自分をほめてあげる！同じ境遇の人たちとお互いにほめあう！

日々の頑張りをアワードとして記録
みんなが遭遇する出来事を大賞としてくくりノミネート（安心してください、みなさん大賞を受賞します！）
お互いに拍手と賞賛の声を送りあう！

日々を頑張るわたしたちの心を元気にしてくれるサードプレイスになれますように。</p>

<h2>HOW TO USE</h2>
<p>このサイトの使い方</p>

<h3>アワードの受賞</h3>
<p>
  ①頑張った出来事の写真を選択し、コメント（アワード受賞者インタビューのつもりで！）を記入（写真だけ、コメントだけでも受賞は可能です！）
　ex.)　離乳食を作って小分けパックで冷凍した！

  ②ノミネートボタンをクリック

  ③アワードを受賞しました、おめでとうございます！
</p>

受賞は<%= link_to "こちら", new_award_path %>から

<h3>大賞にノミネート</h3>
<p>
  大賞を選択→写真とコメントを記入→ノミネート！一覧への反映は少々お時間がかかる場合がございます。ご了承ください。
</p>

ノミネートには、まずノミネートする大賞を選択してください
<%= link_to "大賞一覧", grand_prizes_path %>

<h3>アワードへ拍手を送る</h3>
<p>頑張りは称えあいましょう！素敵だなと思うアワードには拍手を贈ることができます！拍手マークをクリックしてください<br>
マイページから、自身が拍手を贈ったアワードを一覧で確認することができます</p>

<h3>大賞への賞賛の声を送る</h3>
<p>大賞へは賞賛の声（コメント）を贈ることができます。</p>

<h3>振り返りアルバム</h3>
<p>マイページから、「デイリー」と「はじめての」の一覧を確認することができます<br>
ご自身の頑張りや我が子の成長の振り返りにご活用ください</p>