<h1>AWARD FOR YOU</h1>

<!--象徴的な写真を表示→スライドショーとかにしたい-->
<!--%= image_tag("画像ファイル名.拡張子")%>-->

<p>
  毎日頑張るわたしに、<br>
  ぐんぐん成長するわが子に、<br>
  アワードを！
</p>

<div>
  <%= link_to "アワード受賞・大賞ノミネート方法", about_path %>
</div>

<div>
  <%= link_to "アワードを受賞される方はこちら", new_award_path %>
</div>

<div>
  <!--大賞を作成してから表示-->
  <!--%= link_to "大賞にノミネートされる方はこちら", new_waiting_event_path %>-->
</div>

<h2>NEW AWARDS</h2>
<p>新しいアワード</p>

<h2>NEW AWARD'S COMMENT</h2>
<p>新しいアワードコメント</p>

<h2>NEW GRAND PRIZES</h2>
<p>新しい大賞</p>
