<div class="container my-3">
	<h1 class="text-center">\\ CONGRATULATIONS!! //</h1>
	<div class="congratulations mx-auto">
	</div>
	<p class="text-center">
		一覧への反映は今しばらくお待ちください。
	</p>

	<div class="row justify-content-start">
		<%= link_to "◀ 一覧へ戻る", grand_prizes_path, class: "btn btn-outline-dark" %>
	</div>

</div>

