<h2>アワード一覧</h2>

<% @awards.each do |award| %>

	<!--画像はある場合のみ-->
	<% if award.award_image.present? %>
		<%= link_to award_path(award.id) do %>
			<%= image_tag award.get_award_image(150,150) %>
		<% end %>
	<% end %>

	<%= award.comment %>
<% end %>