<div class="container my-3">
	<h2><i class="fa-solid fa-trophy"></i>アワードにノミネートする</h2>
	
	<div class='row d-flex justify-content-center'>
	  <%= render 'layouts/errors', obj: @award %>
	</div>
	
	<%= render 'form', award: @award, url: awards_path, method: :post %>
</div>