<div class="container my-3">
	<h2>大賞を編集する</h2>

	<%= render 'form', grand_prize: @grand_prize, url: edit_grand_prize_path(@grand_prize) %>

	<% unless @grand_prize.waiting_events.present? || @grand_prize.events.present? %>
		<%= link_to "大賞を削除", grand_prize_path, method: :delete %>
	<% end %>

	<%= link_to grand_prize_path(@grand_prize), class: "btn btn-outline-dark" do %>
		<i class="fa-solid fa-caret-left"></i> 編集せずに戻る
	<% end %>
</div>