<h2>大賞一覧</h2>

<%= render 'public/searchs/form' %>

<%= link_to "大賞にノミネートする", new_waiting_event_path, class: "btn btn-info" %>

<%= link_to "新たに大賞を立ち上げる", new_grand_prize_path, class: "btn btn-info" %>

<%= render 'index', grand_prizes: @grand_prizes %>