<div class="row d-flex justify-content-center mb-3">
	<%= form_with url: searchs_search_path, method: :get do |f| %>
		大賞名検索：<%= f.text_field :content %>
		<%= f.submit "検索" %>
	<% end %>

	キーワード検索：
</div>