<h2>大賞受賞待ち一覧</h2>
<p>（ボタン）承認待ち○件　すべて承認する</p>
<p>承認待ちはありません</p>

<% @waiting_events.each do |waiting_event| %>

	<%= image_tag waiting_event.get_image(100,100) %>
	<%= waiting_event.comment %>

	<P>承認ボタンを押すとParameterMissingのエラー発生</P>
	<%= link_to "承認", admin_events_path(waiting_event.grand_prize, waiting_event_id: waiting_event.id), method: :post %>

<% end %>