<div>
	<b>退会すると、登録情報や</b><br>
	<b>〇〇ができなくなります。</b><br>
	<b>退会する場合は、「退会する」をクリックしてください。</b>
</div>

<%= link_to "退会しない", user_path(current_user) %>

<!--data: { confirm: "退会してもよろしいですか？" }=退会するボタン押した後確認メッセージ表示させる-->
<%= link_to "退会する", users_withdraw_path, method: :patch, data: { confirm: "退会してもよろしいですか？" } %>