<% if obj.nil? %>
  <div class="alert alert-danger">
    <p>エラー: オブジェクトが見つかりません。</p>
  </div>
<% elsif obj.errors.any? %>
  <div id="error_explanation">
    <h4><%= obj.errors.count %>件のエラーがありました。:</h4>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>